PORT=3000
NODE_ENV=production
MONGO_URI=CAMBIAR_POR_TU_MONGO_URI
FRONTEND_URL=https://gym-system-cxnq.onrender.com
GOOGLE_CLIENT_ID=CAMBIAR_POR_TU_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=CAMBIAR_POR_TU_GOOGLE_CLIENT_SECRET
GOOGLE_CALLBACK_URL=https://gym-system-cxnq.onrender.com/api/users/auth/google/callback
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=CAMBIAR_POR_TU_CORREO
SMTP_PASS=CAMBIAR_POR_TU_APP_PASSWORD
EMAIL_FROM=Gym-System <CAMBIAR_POR_TU_CORREO>
SEND_TRAINER_SESSION_EMAIL=true
