PORT=3000
NODE_ENV=production
MONGO_URI=CAMBIAR_POR_TU_MONGO_URI
FRONTEND_URL=https://gym-system-cxnq.onrender.com
GOOGLE_CLIENT_ID=CAMBIAR_POR_TU_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=CAMBIAR_POR_TU_GOOGLE_CLIENT_SECRET
GOOGLE_CALLBACK_URL=https://gym-system-cxnq.onrender.com/api/users/auth/google/callback
